<div class="container">

  <div class="row" id="row1">
    <div class="col-md-12" align="center">
      <h1>Eat-Da-Burger!</h1>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="burg"><img class="img-fluid max-width:50% height:auto" src="/assets/img/burgg.png"></div>
  </div>

  <div class="row" id="row2">
    <div class="col-md-5" id="col1">
      <h2>Burgers to Eat</h2>
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        <li>
          <p>{{burger_name}}
          <button class="change-dev btn btn-warning" data-id="{{id}}" data-newDev="{{devoured}}"><i class="fas fa-utensils"></i></button>
          <button class="delete-burger btn btn-danger" data-id="{{id}}"><i class="fas fa-times-circle"></i></button>
          </p>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-5" id="col2">
      <h2>Burgers Devoured</h2>
      <ul>
        {{#each burger}}
        {{#if devoured}}
        <li>
          <p>{{burger_name}}
          <button class="delete-burger btn btn-danger" data-id="{{id}}"><i class="fas fa-times-circle"></i></button>
          </p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row" id="row3">
    <div class="col-md-12" align="center">
      <h2>Order a burger</h2>
      <hr>
      <form class="create-form">
        <div class="form-group">
          <input type="text" id="bg" name="name" placeholder="Burger Name">
          <button type="submit" class="btn btn-success">Order <i class="fas fa-hamburger"></i></button>
        </div>        
      </form>
    </div>
  </div>

</div>